<style>
 
.abc
{
  color:#818181;
}
.bcd
{
  color:#818181;
  font-size: 18px;
  color: #818181;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 300;
  padding: 0 40px;
  padding-top: 10px;
}
  </style> 
  <div class="jumbotron text-center">
    <h2 class="abc">LOREM IPSUM IS <b>SIMPLY DUMMY </b>OF THE PRINTING.</h2>
    <p class="bcd">Lorem Ipsum is simply dummy text of the printing and typesetting of the industry. Lorem Ipsum has been the and scrambled it. atype specimen</p>
    
  </div>
      <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-12" style="text-align:center;color:#818181">
            <i class="fa fa-tv center-block" style="font-size: 6rem;"></i>
              <p style="font-size: 18px;text-align: center;"><strong>LOREM IPSUM</strong> IS SIMPLY</p>
            <P style="font-size:18px;color:#818181">Lorem Ipsum is simply dummy text of the printing and typescript industry's standard dummy text ever since the 1500s,when an unknown print took a gallary  sit amet, consectetur adipisicing elit...</P>
       
          </div>
          
          <div class="col-md-4 col-sm-12"style="text-align:center;color:#818181">
            <i class="fa fa-edit center-block" style="font-size: 6rem;color:#0ad5e2;padding-top: 50px; "></i>
             <p style="font-size: 20px;text-align: center;"><strong>LOREM IPSUM</strong> IS SIMPLY</p>
            <P style="font-size:18px;color:#818181">Lorem Ipsum is simply dummy text of the printing and typescript industry's standard dummy text ever since the 1500s,when an unknown print took a gallary  sit amet, consectetur adipisicing elit...</P>
       
          </div>
          <div class="col-md-4 col-sm-12"style="text-align:center;color:#818181">
            <i class="fa fa-image center-block" style="font-size: 6rem;color:#818181"></i>
              <p style="font-size: 20px;text-align: center;"><strong>LOREM IPSUM</strong> IS SIMPLY</p>
            <P style="font-size:18px;color:#818181;">Lorem Ipsum is simply dummy text of the printing and typescript industry's standard dummy text ever since the 1500s,when an unknown print took a gallary  sit amet, consectetur adipisicing elit...</P>
       
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-md-4">
                  <div class="card" style="width: 18rem;border:1px solid black">
  <img class="card-img-top" src="./assets/img/box1.jpg" alt="Card image cap">
<div class="card-body">
 <p style="color:#818181;font-size: 18px;"><strong>LORUM IPSUM IS SIMPLY</strong></p>
                    <p style="color:#818181;">Lorem Ipsum is simply dummy text of the printing and typesetting of the industry.</p>
</div>
</div>
            </div>
            <div class="col-md-4">
                  <div class="card" style="width: 18rem;border:1px solid black">
  <img class="card-img-top" src="./assets/img/box2.jpg" alt="Card image cap">
<div class="card-body">
 <p style="color:#818181;font-size: 18px;"><strong>LORUM IPSUM IS SIMPLY</strong></p>
                    <p style="color:#818181;">Lorem Ipsum is simply dummy text of the printing and typesetting of the industry.</p>
</div>
</div>
            </div>
            <div class="col-md-4">
                 <div class="card" style="width: 18rem;border:1px solid black">
  <img class="card-img-top" src="./assets/img/box3.jpg" alt="Card image cap">
<div class="card-body">
 <p style="color:#818181;font-size: 18px;"><strong>LORUM IPSUM IS SIMPLY</strong></p>
                    <p style="color:#818181;">Lorem Ipsum is simply dummy text of the printing and typesetting of the industry.</p>
</div>
</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                  <div class="card" style="width: 18rem;border:1px solid black">
  <img class="card-img-top" src="./assets/img/box4.jpg" alt="Card image cap">
<div class="card-body">
 <p style="color:#818181;font-size: 18px;"><strong>LORUM IPSUM IS SIMPLY</strong></p>
                    <p style="color:#818181;">Lorem Ipsum is simply dummy text of the printing and typesetting of the industry.</p>
</div>
</div>
            </div>
            <div class="col-md-4">
                  <div class="card" style="width: 18rem;border:1px solid black">
  <img class="card-img-top" src="./assets/img/box5.jpg" alt="Card image cap">
<div class="card-body">
 <p style="color:#818181;font-size: 18px;"><strong>LORUM IPSUM IS SIMPLY</strong></p>
                    <p style="color:#818181;">Lorem Ipsum is simply dummy text of the printing and typesetting of the industry.</p>
</div>
</div>
            </div>
            <div class="col-md-4">
                 <div class="card" style="width: 18rem;border:1px solid black">
  <img class="card-img-top" src="./assets/img/box6.jpg" alt="Card image cap">
<div class="card-body">
 <p style="color:#818181;font-size: 18px;"><strong>LORUM IPSUM IS SIMPLY</strong></p>
                    <p style="color:#818181;">Lorem Ipsum is simply dummy text of the printing and typesetting of the industry.</p>
</div>
</div>
            </div>
        </div>
    </div>
    <div class="parnters">
      <div class="container" >
          <div class="row">
              <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top: 30px; margin-bottom: 30px;">
                  <img src="./assets/img/partner1.png" alt=""style="height:60px;width: 100% ">
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top: 30px; margin-bottom: 30px;">
                  <img src="./assets/img/partner2.png" alt=""style="height:60px;width: 100%">
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top: 30px; margin-bottom: 30px;">
                  <img src="./assets/img/partner3.png" alt=""style="height:60px;width: 100%">
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top: 30px; margin-bottom: 30px;">
                  <img src="./assets/img/partner4.png" alt=""style="height:60px;width: 100%">
              </div>
          </div> 
      </div> 